@import "../../../variables";

.category-item-link {
    text-decoration: none;
    color: $main-light-color;

    .category-item {
        cursor: pointer;
        padding-bottom: 3px;
        border-bottom: 1.5px solid transparent;
        transition: all .2s;
        font-size: 16px;
    }

    .category-item:hover {
        color: #192813;
        border-bottom: 1.5px solid #000;
    }
}