@import "../../../../variables";

.leave-review { 
    .review-form {
        width: 100%;
        margin-top: 10px;

        .review-input {
            width: 83%;
            margin-right: 10px;
            outline: none;
            background-color: transparent;
            border: none;
            border-bottom: 1.5px solid rgb(195, 195, 195);
            font-size: 16px;
            height: 30px;
        }

        .btn {
            @include main_btn;
            font-size: 16px;
            padding: 5px 10px;
        }

        .btn:disabled {
            color: rgb(106, 106, 106);
        }
    }
}