@import "../../variables";

.modal {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    @include flex_center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1;

    .modal-content {
        position: relative;
        padding: 30px 50px;
        border-radius: 2px;
        background-color: #fff;
        width: 850px;
        height: 650px;
        display: flex;

        .tags {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .close-button {
            position: absolute;
            right: -15px;
            top: -15px;
            cursor: pointer;
            border: none;
            background-color: #000;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            @include flex_center;
            transition: all .2s;

            .close-icon {
                width: 20px;
                transform: rotate(45deg);
            }
        }

        .close-button:hover {
            transform: scale(1.1);
        }

        .background {
            position: absolute;
            top: 0;
            right: 0;
            height: 650px;
            width: 754px;
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 57% 100%);
            background-color: #f1f1f1;
        }

        .photo-container {
            @include flex_center;
            height: 100%;
            width: 40%;

            .product-photo {
                max-width: 250px;
                max-height: 340px;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            z-index: 1;

            .main-information {
                .name {
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .main-cta {
                    display: flex;
                    gap: 50px;

                    .cta-block {
                        display: flex;
                        flex-direction: column;
                        gap: 7px;

                        .title {
                            font-size: 16px;
                            color: #a3a3a3;
                        }

                        .cta-block-data.qty {
                            background-color: #fff;
                        }

                        .cta-block-data {
                            display: flex;
                            padding: 5px;
                            border-radius: 50px;

                            .price {
                                display: flex;
                                align-items: center;
                                margin-bottom: 6px;
                                gap: 6px;


                                .sale-price {
                                    display: flex;
                                    align-items: flex-end;
                                    gap: 7px;

                                    .current {
                                        font-size: 35px;
                                        color: #e83845;
                                    }

                                    .previous {
                                        font-size: 14px;
                                        text-decoration: line-through;
                                    }
                                }

                                .current-price {
                                    font-size: 35px;
                                }

                                .weight {
                                    font-size: 16px;
                                    color: #7f7f7f;
                                }
                            }


                            .item {
                                cursor: pointer;
                                border: none;
                                border-radius: 50px;
                                background-color: #000;
                                width: 40px;
                                height: 40px;
                                transition: all .2s;

                                .item-icon {
                                    width: 20px;
                                }
                            }

                            .item:hover {
                                transform: scale(1.05);
                            }

                            .item:active {
                                transform: scale(1);
                            }

                            .qty-input {
                                height: 40px;
                                width: 70px;
                                border: none;
                                outline: none;
                                font-size: 20px;
                                text-align: center;
                            } 
                        }
                    }
                }

                .nav-buttons {
                    margin: 20px 0;
                    display: flex;
                    width: 100%;

                    .nav-button {
                        text-transform: capitalize;
                        font-size: 17px;
                        padding-bottom: 2px;
                        cursor: pointer;
                        width: 50%;
                        border: none;
                        background-color: transparent;
                        border-bottom: 1.5px solid $light-background;

                    }

                    .nav-button.active {
                        border-bottom: 1.5px solid #48293673;
                    }
                }

                .description {
                    font-size: 17px;
                    color: #3a3a3a;
                    max-height: 200px;
                    overflow-y: scroll;
                }
            }

            .total {
                display: flex;
                align-items: center;
                gap: 60px;

                .count-total {
                    display: flex;

                    .title {
                        font-size: 25px;
                        margin-right: 7px;
                    }

                    .amount {
                        font-size: 35px;
                        font-weight: 600;
                    }
                }

                .add-button {
                    cursor: pointer;
                    border: none;
                    background-color: #000;
                    color: #fff;
                    padding: 10px 30px;
                    transition: all .2s;
                    font-size: 20px;
                }

                .add-button:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}