@import "../../variables";

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .introduction {
        height: 400px;
        padding-top: $header_height;
        overflow: hidden;
        position: relative;
        @include flex_center;
        margin-bottom: $section_end;

        img {
            z-index: -1;
            width: 100%;
            position: absolute;
            top: -49px;
            right: 0;
        }


        .introduction-text {
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
             
            width: 400px;
            height: 200px;
            padding: 20px;
            backdrop-filter: blur(20px);
            border: 2px solid #fff;
            position: relative;

            .text {
                margin-bottom: 20px;
                font-size: 20px;
                text-align: center;
            }

            .button {
                position: absolute;
                bottom: -20px;

                .btn {
                    @include main_btn;
                    text-transform: uppercase;
                }

                .btn:hover {
                    border: 5px solid rgba(0, 0, 0, 0);
                }

                .btn:active {
                    border: 3px solid rgba(0, 0, 0, 0);
                }
            }
        }
    }

    .main-content {
         
        margin: 0px 40px;

        .how-to-container {
            margin-top: 20px;
            @include flex_column_center;

            .how-to-grow-peppers {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                 

                .info-container {
                     
                    width: 510px;
                    display: flex;
                    align-items: center;

                    .info-content {
                         
                        position: relative;
                        padding: 20px;
                        @include flex_column_center;
                        border: 2px solid $main-boreder-color;

                        .title-text {
                            font-size: 27px;
                        }

                        .text {
                            margin: 30px 0px;
                            font-size: 20px;
                            text-align: justify;
                            width: 400px;
                        }

                        .button {
                            position: absolute;
                            bottom: -20px;

                            .btn {
                                white-space: nowrap;
                                @include main_btn;
                                text-transform: uppercase;
                            }

                            .btn:hover {
                                border: 5px solid rgba(0, 0, 0, 0);
                            }

                            .btn:active {
                                border: 3px solid rgba(0, 0, 0, 0);
                            }
                        }

                    }
                }

                .block {
                    margin-bottom: $section_end;
                     
                    background-size: cover;
                    width: 686.25px;
                    height: 600px;
                    @include flex_center;

                    .title {
                        display: flex;
                        flex-direction: column;
                        color: #fff;
                        backdrop-filter: blur(12px);
                        font-size: 70px;
                        font-weight: 600;
                        text-align: center;
                        padding: 20px;
                        text-transform: uppercase;

                        .lowerCase {
                            font-weight: 500;
                            text-transform: none;
                            color: rgba(255, 255, 255, 0.919);
                        }

                        .light-font {
                            color: rgba(255, 255, 255, 0.919);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .chat-icon-container {
        display: flex;
        justify-content: space-between;
        bottom: 20px;
        right: 20px;
        left: 0;
        position: fixed;
        margin: 0 auto;
        z-index: 1;

        .chat-icon {
            background-color: black;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            @include flex_center;

            img {
                width: 35px;
            }
        }
    }
}