@import "../../variables";

.card {
    width: 200px;
    cursor: pointer;

    .photo-container {
        position: relative;
        @include flex_center;
        height: 200px;

        .tags {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .photo {
            width: 100px;
        }
    }

    .data {
        position: relative;
        padding: 20px 7px;
        background-color: #f2f2f2b7;

        .price {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            gap: 6px;

            .sale-price {
                display: flex;
                align-items: center;
                gap: 7px;

                .current {
                    font-size: 18px;
                    color: #e83845;
                }

                .previous {
                    font-size: 14px;
                    text-decoration: line-through;
                }
            }

            .current-price {
                font-size: 18px;
            }

            .weight {
                font-size: 13px;
                color: #7f7f7f;
            }
        }

        .name {
            max-width: 192px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: start;
            font-size: 15px;
        }

        .button {
            position: absolute;
            right: 20px;
            top: -20px;
            cursor: pointer;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            @include flex_center;
            background-color: #000;
            border: none;
            transition: all .2s ease-out;

            .button-icon {
                width: 19px;
                height: 19px;
                // transition: all .2s ease-out;
            }
        }

        .button:hover {
            transform: scale(1.1);

            .button-icon {
                transform: scale(1.1);
            }
        }
    }
}