.product-marker { 
    padding: 0 7px;
    height: 22px;

    .product-marker-text {
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }
}

.product-marker.sale {
    background-color: #ff4949;
}

.product-marker.new {
    background-color: #00c245;
}