@import "../../variables";

.header {
    padding: 10px 40px;
    z-index: 2;
    height: $header_height;
    position: fixed;
    width: 100%;
    @include panels_color;
    display: flex;
    align-items: center;
    color: $main-light-color;
    transition: transform .2s linear;

    .header-container {
        @include container;
        width: 100%;
        @include justify_between;
        align-items: center;

        .logo-link {
            .logo {
                width: 45px;
            }
        }

        .categories {
            width: 50%;
            display: flex;
            gap: 20px;
        }

        .comp-info {
            width: 13%;
            display: flex;
            gap: 15px;
        }

        .header-items {
            display: flex;
            align-items: center;
            gap: 20px;

            .profile-icon {
                width: 26px;
                cursor: pointer;
            }

            .header-item {

                #side-checkbox {
                    display: none;
                }

                .side-panel {
                    position: fixed;
                    z-index: 2;
                    height: calc(100vh - $header_height);
                    top: $header_height;
                    right: -363px;
                    background-color: #000000ca;
                    width: 320px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    transition: all 0.5s;

                    .cart-container {
                        margin: 20px;
                        height: 100%;

                        .close-container {
                            cursor: pointer;
                            border: none;
                            background-color: #fff;
                            border-radius: 100%;
                            width: 30px;
                            height: 30px;
                            @include flex_center;
                            transition: all .2s;
                            margin-bottom: 10px;

                            .close {
                                width: 20px;
                                transform: rotate(45deg);
                            }
                        }

                        .close-container:hover {
                            transform: scale(1.06);
                        }

                        .dummy {
                            color: #cfcfcf;
                            font-size: 15px;
                        }

                        .side-title {
                            font-size: 22px;
                            color: #f0f0f0;
                            padding-bottom: 6px;
                            margin-bottom: 20px;
                            border-bottom: 2px solid #4a4a4a;
                        }

                        .cart-items {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            height: 60vh;
                            overflow: hidden;
                            overflow-y: scroll;
                        }

                        .cart-items.hide {
                            height: calc(75vh - $header_height);
                        }
                    }

                    .total-cost {
                        padding-top: 15px;
                        margin-top: 20px;
                        border-top: 2px solid #4a4a4a;

                        .total {
                            font-size: 22px;
                            color: #fff;
                            padding-left: 20px;
                        }

                        .checkout-button {
                            cursor: pointer;
                            border: none;
                            margin-top: 15px;
                            width: 100%;
                            background-color: #47b849;
                            color: #fff;
                            padding: 15px 0;
                            font-size: 22px;
                            transition: all .2s;
                        }
                        .checkout-button:hover { 
                            background-color: #3c9e3e; 
                        }
                    }
                }

                .side-panel.hide {
                    height: 100vh;
                }

                .cart {
                    width: 25px;
                    padding-top: 2px;
                    cursor: pointer;
                }
            }
        }
    }
}

.header.hide {
    transform: translateY(-$header_height);
}


.side-button-1 .side-close {
    display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-open {
    display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-close {
    display: flex;
    padding-bottom: 4px;
}

#side-checkbox:checked+.side-panel {
    right: -1px;
}