@import "../../variables";

.footer {
    z-index: 100;
    width: 100%;

    padding: 50px 40px;
    @include flex_column_center;
    @include panels_color;

    .logo-link {
        .logo {
            margin-bottom: 20px;
            width: 50px;
        }
    }

    .navbar {
        display: flex;
        gap: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: $main-light-color;

        .nav-item {
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition: all .2s;
        }

        .nav-item:hover {
            border-bottom: 2px solid rgb(97 97 97);
            color: #fff;
        }
    }

    .horizontal-line {
        margin: 20px 0px;
        width: 50%;
        height: 2px;
        background-color: $main-boreder-color;
    }

    .company {
        font-size: 13px;
        color: rgb(97 97 97);
    }
}