@import "../../variables";

.footer {
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 40px;
    @include flex_column_center;
    @include panels_color;

    .logo {
        margin-bottom: 20px;
        img {
            width: 50px;
        }
    }

    .navbar {
        display: flex;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(97 97 97);

        div:nth-child(even) {
            margin: 0px 20px;
        }

        .nav-item{
            cursor: default;
            padding: 0px 3px;
            border-bottom: 2px solid transparent;
        }
        .nav-item:hover{
            cursor: default;
            border-bottom: 2px solid rgb(97 97 97);
            color: #fff;
        }
    }


    .horizontal-line {
        margin: 20px 0px;
        width: 50%;
        height: 2px;
        background-color: $main-boreder-color;
    }

    .company {
        font-size: 13px;
        color: rgb(97 97 97);
    }

}