@import '../../../variables';

.cta {
    margin-top: 17px;
    @include flex_align_center;

    .current-price {
        @include flex_align_center;

        .sale-price {
            font-size: 35px;
            font-weight: 600;
            color: rgb(216, 0, 0);
            margin-right: 7px;
        }

        .prev-price {
            text-decoration: line-through;
            color: rgb(62, 62, 62);
        }

        .price {
            font-size: 20px;
        }
    }

    .qty {
        margin: 0px 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid rgb(207, 207, 207);
        height: 45.5px;

        .item {
            cursor: pointer;

            img {
                width: 20px;
            }
        }

        .input {
            text-align: center;
            font-size: 18px;
            border: none;
            width: 40px;
            margin: 0px 4px;
            outline: none
        }

        .input::-webkit-outer-spin-button,
        .input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .button {
        height: 49px;
        @include flex_center;
        border: 5px solid transparent;


        .btn {
            height: 45.5px;
            font-size: 18px;
            @include main_btn;
            padding: 6px 20px;
        }

        .btn:hover {
            height: 49px;
            width: 145px;
        }

        .btn:active {
            height: 45.5px;
            width: 142.73px;
        }
    }
}