@import '../../variables';


.cart-item {
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 5px 8px;
    position: relative;
    border-radius: 2px;

    .item-image-container {
        width: 60px;
        max-height: 60px;
        @include flex_center;

        .item-image {
            width: 100%;
            max-height: 100%;
        }
    }

    .item-data {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .item-information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-name {
                max-width: 120px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
            }

            .row {
                font-size: 12px;
                color: #919191;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .item-qty {
                display: flex;
                flex-direction: column;
                align-items: center;

                .count-item {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    @include flex_center;
                    transition: all .2s;

                    .count-icon {
                        width: 10px;
                    }
                }

                .count-item:hover {
                    border: 1px solid #000;
                    border-radius: 100%;
                }

                .qty-input {
                    outline: none;
                    border: none;
                    width: 30px;
                    text-align: center;
                }
            }

            .delete {
                cursor: pointer;
                border: none;
                background-color: #fff;
                width: 25px;
                height: 25px;
                @include flex_center;
                border-radius: 100%;
                box-shadow: 0px 0px 2px #d3d3d3;
                transition: all .2s;

                .delete-icon {
                    width: 16px;
                }
            }

            .delete:hover {
                background-color: #eeeeee;
            }
        }
    }
}