@import "../../variables";

.category-container {
    padding-top: $header_height;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include container;

    .category-content {
        margin: 0px 40px;
        @include flex_column_center;

        .sort-row {
            width: 100%;
            @include justify_between;

            .row {
                display: flex;
                gap: 10px;

                .filter {
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    .vector {
                        width: 10px;
                    }
                }

                .product-amount {
                    margin-left: 30px;
                    color: rgb(128, 128, 128);
                    font-size: 15px;
                }

                .item {
                    display: flex;
                    gap: 7px;
                }
            }

            .row.first {
                display: flex;
                align-items: center;

                .item {
                    display: flex;

                    .filter {
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        .vector {
                            width: 10px;
                        }
                    }
                }
            }
        }

        .allCards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 50px;
            margin-bottom: $section_end;
        }
    }

    .chat-icon-container {
        display: flex;
        justify-content: space-between;
        bottom: 20px;
        right: 20px;
        left: 0;
        position: fixed;
        margin: 0 auto;
        z-index: 1;

        .chat-icon {
            background-color: black;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            @include flex_center;

            img {
                width: 35px;
            }
        }
    }
}