@import "../../../variables";


.blocks-container {
    @include flex_column_center;
    margin-top: 120px;

    .blocks {
        margin-top: 20px;

        display: flex;
        justify-content: center;
        gap: 50px;
        height: 600px;
        margin-bottom: $section_end; 

        .small-blocks {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 600px; 
        }
    }
}